<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <DeterministicReport>True</DeterministicReport>
  <IncludeTestAssembly>true</IncludeTestAssembly>
  <ExcludeAssembliesWithoutSources>MissingAll</ExcludeAssembliesWithoutSources>
  <CodeCoverage>
    <ModulePaths>
      <Exclude>
        <ModulePath>.*doc\.dll$</ModulePath>
        <ModulePath>.*net472.*</ModulePath>
        <ModulePath>.*Unity-Billal-mesloub\.build\.buildcheck\.unittests\.dll$</ModulePath>
        <ModulePath>.*Unity-Billal-mesloub\.build\.tasks\.unittests\.dll$</ModulePath>
      </Exclude>
      <Include>
        <ModulePath>.*Unity-Billal-mesloub\.build\.engine\.unittests\.dll$</ModulePath>
        <ModulePath>.*Unity-Billal-mesloub\.build\.engine\.om\.unittests\.dll$</ModulePath>
        <ModulePath>.*Unity-Billal-mesloub\.build\.framework\.dll$</ModulePath>
        <ModulePath>.*Unity-Billal-mesloub\.build\.framework\.unittests\.dll$</ModulePath>
        <ModulePath>.*Unity-Billal-mesloub\.build\.commandline\.unittests\.dll$</ModulePath>
        <!-- <ModulePath>.*Unity-Billal-mesloub\.build\.tasks\.core\.dll$</ModulePath> -->
        <!-- <ModulePath>.*Unity-Billal-mesloub\.build\.tasks\.unittests\.shared\.dll$</ModulePath> -->
        <!-- <ModulePath>.*Unity-Billal-mesloub\.build\.utilities\.core\.dll$</ModulePath> -->
        <!-- <ModulePath>.*Unity-Billal-mesloub\.build\.utilities\.unittests\.dll$</ModulePath> -->
        <ModulePath>.*Unity-Billal-mesloub\.net\.stringtools\.dll$</ModulePath>
        <ModulePath>.*Unity-Billal-mesloub\.net\.stringtools\.unittests\.dll$</ModulePath>
      </Include>
    </ModulePaths>
    <Sources>
      <Exclude>
        <Source>.*\.g\.cs$</Source>
        <Source>.*\.sr\.cs$</Source>
      </Exclude>
    </Sources>
    <CommunicationTimeout>120000</CommunicationTimeout>
    <PipeClientsCount>1270</PipeClientsCount>
    <UseVerifiableInstrumentation>False</UseVerifiableInstrumentation>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticManagedInstrumentation>False</EnableStaticManagedInstrumentation>
    <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
  </CodeCoverage>
</Configuration>
